.form{
    background: #FFFFFF;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    box-sizing: border-box;
    margin: 40px 0 0;
    width: 396px;
    height: 350px;

    position: absolute;
    left: 760px;
    top: 88px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 370px;
    height: 500px;
    padding: 15px;
}

.login{
    width: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#username{
    width: 365px;
    height: 50px;
    outline: none;
    border: solid 1px #DDDFE2;
    border-radius: 5px;

    padding: 20px;

    font-size: 18px;
}

#password{
    width: 365px;
    height: 50px;
    outline: none;
    margin-top: 10px;

    border: solid 1px #DDDFE2;
    border-radius: 5px;

    padding: 20px;

    font-size: 18px;
}

.input-field input::placeholder{
    color: #A4A8AE;
    font-weight: 12px;
}

 input[type="submit"]{
    width: 365px;
    height: 50px;

    margin-top: 20px;

    outline: none;

    border-radius: 5px;
    border: none;

    background-color: #166FE5;

    color: white;
    font-weight: bold;
    font-size: 20px;

    cursor: pointer;
}

.forget{
    text-decoration: none;
    font-family: 'Helvetica', sans-serif;
    font-size: .9rem;
    font-weight: 100;

    margin: 20px auto;
    color: #6277F2;
}

.underline{
    border: 1px solid #DDDFE2;
    width: 365px;
    margin-bottom: 25px;
}

.create-acount{
    height: 45px;
    width: 160px;
    border: none;
    border-radius: 5px;
    background-color: #36A420;
}

.create-acount, a{
    color: white;
    text-decoration: none;
    font-family: 'Helvetica', sans-serif;
    font-weight: 700;
    font-size: 16px;
}

.create > a{
    font-family: "Helvetica", sans-serif;
    font-size: 14px;
    line-height: 18.8px;
    color:#1c1e21 ;

    cursor: pointer;
}