*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #F0F2F5;
}

.home{
    padding: 72px 0px 112px;
}

.container{
    margin: 0 auto;
    padding: 15px 0;
    height: 80vh;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.welcome{
    position: absolute;
    top: 88px;
    left: 188px;
    padding-right: 20px;
}

.logo{
    padding: 112px 0 16px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    line-height: 32px;
    color: #1c1e21;
    padding: 0 0 20px;
}


